
.outer {
  text-align: left;
  p {
    font-family: "DynaPuff", sans-serif;
    justify-content: center;
  }
  .wrapper {
    display: flex;
    width: 100%;
    height: min-content;
    align-items: center;
    flex-direction: column;
    margin-bottom: 6rem;
    .svgWrapper {
      flex: none;
      height: auto;
      position: relative;
      width: 100px;
      z-index: 4;
    }
    .flex {
      display: flex;
      :first-child {
        margin-right: 1rem;
      }
    }
  }
  .sectionWrapper {
    display: flex;
    padding: 10px;
    .section {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      max-width: 100%;
      margin-left: 5px;
    }
  }
  img {
    width: 512px;
    height: 314px;
    border-radius: 10%;
  }
  .imgContainer {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1.5;
    img:hover {
      transform: scale(1.1);
      box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.3)
    }
  }
  .gallery {
    text-align: center;
  }
}
